<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.0.2.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Chart #1</title>
</head>
<body>
    {{>header}}
    <div class="container mt-4">
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="myChart"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const data = {
                labels: [
                    'Red',
                    'Blue',
                    'Yellow'
                ],
                datasets: [{
                    label: 'My First Dataset',
                    data: [300, 50, 100],
                    backgroundColor: [
                    '#006ba4',
                    '#ff800e',
                    '#ababab',
                    '#595959',
                    '#5f9ed1',
                    '#c85200',
                    '#898989',
                    '#a2c8ec',
                    '#ffbc79',
                    '#cfcfcf'
                    ],
                    hoverOffset: 4
                }]
            };
            
            const config = {
                type: 'pie',
                data: data,
            };

            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        </script>
    </div>
    {{>footer}}
    <script src="/bootstrap-5.0.2.min.js"></script>
</body>
</html>