<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/bootstrap-5.0.2.min.css">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <title>Chart #2</title>
</head>
<body>
    {{>header}}
    <div class="container mt-4">
        <div class="chart-container" style="position: relative; height:50vh; width:50vw">
            <canvas id="myChart">
                <p>Your browser not supported...</p>
            </canvas>
        </div>
        <script>
            const data = {
                labels: [
                    {{#each result}}
                        '{{this.state_t}}',
                    {{/each}}
                ],
                datasets: [{
                    label: 'Top 10 States',
                    data: [
                        {{#each result}}
                            {{this.cnt}},
                        {{/each}}
                    ],
                    backgroundColor: [
                    '#006ba4',
                    '#ff800e',
                    '#ababab',
                    '#595959',
                    '#5f9ed1',
                    '#c85200',
                    '#898989',
                    '#a2c8ec',
                    '#ffbc79',
                    '#cfcfcf'
                    ],
                    hoverOffset: 4
                }]
            };
            
            const config = {
                type: 'pie',
                data: data,
            };

            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        </script>
    </div>
    {{>footer}}
    <script src="/bootstrap-5.0.2.min.js"></script>
</body>
</html>