<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.0.2.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Chart #3</title>
</head>
<body>
    {{>header}}
    <div>
        <div class="chart-container" style="position: relative; height:40vh; width:40vw">
            <canvas id="chart3">
                <p>Your browser not supported...</p>
            </canvas>
        </div>
    </div>
    {{>footer}}
    <script src="/bootstrap-5.0.2.min.js"></script>
</body>
</html>