<nav>
    <h4>Using Chart.JS in Node.JS</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/v1_charts1">Chart #1</a></li>
        <li><a href="/v1_charts2">Chart #2</a></li>
    </ul>
</nav>